@model ST10037089__prog3ap2_Final_.Models.products

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>products</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.farmerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.farmerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.productid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
