@model IEnumerable<ST10037089__prog3ap2_Final_.Models.products>

@{
    ViewData["Title"] = "Index";
    string hasimage(products products)
    {
        if (products.ImageUrl != "" && products.ImageUrl != null)
        {
            return "fa-solid fa-check";
        }
        else
        {
            return "fa-solid fa-x";
        }
    }

}

<h1>Product Dhasboard</h1>



<form asp-action="Index" class="col-2 my-1 p-2">
    <div>
        Filter search
        <div class="my-1">
            <input type="text" name="searchStringd" placeholder="Farmer" class="form-control-sm col-12" />
        </div>
        <input type="submit" value="Filter" class="btn btn-primary btn-sm" />
        <a asp-action="Index" class="btn btn-secondary btn-sm float-right">Clear</a>
    </div>
</form>

@if (User.IsInRole("Farmer"))

{

    <p>

        <a asp-action="Create" class="btn btn-primary">
            <i class="fa-solid fa-address-book"></i> Add new Product
        </a>

    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.farmerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productionDate)
            </th>
            <th>
               Has Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-active">
            <td>
                @Html.DisplayFor(modelItem => item.farmerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productionDate)
            </td>
            <td>
                    <i class="@hasimage(item)"></i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.productid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.productid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.productid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
